.component {
  margin-bottom: 3rem;
}

.title {
  margin-bottom: 1rem !important;
  font-size: 18px !important;
}

.table {
  width: 100%;
}

.table td,
.table th {
  padding: 0.4rem 0;
  border-bottom: 1px solid rgb(232, 231, 230);
}

.tokenNameCol {
  width: 20%;
}

.tokenName {
  display: flex;
  align-items: center;
}

.logo {
  max-width: 36px;
  margin-right: 0.5rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.buttonWrap {
  margin-left: 0.5rem;
}
